Port 2222
Protocol 2
# HostKeys for protocol version 2
HostKey ~/.ssh/ssh_host_rsa_key

# Disable privilage separation since daemon does not run as root
UsePrivilegeSeparation no

# Only allow remote port forwarding
AllowTcpForwarding remote
GatewayPorts yes
PermitTTY no

# Lifetime and size of ephemeral version 1 server key
KeyRegenerationInterval 3600
ServerKeyBits 1024

# Logging
SyslogFacility AUTH
LogLevel INFO

# Authentication:
LoginGraceTime 120
PermitRootLogin prohibit-password
StrictModes no

RSAAuthentication no
PubkeyAuthentication yes
ChallengeResponseAuthentication no
PasswordAuthentication no
PermitEmptyPasswords no

X11Forwarding no
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes

Subsystem sftp /usr/lib/openssh/sftp-server

UsePAM no
